.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px; /* Altura fija para asegurar rectángulos horizontales */
    grid-auto-flow: dense;
    gap: 8px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegura que las imágenes cubran completamente el contenedor */
}

.gallery img.four-grid-cells {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
}

@media screen and (max-width: 760px) {
    .gallery {
         grid-template-columns: 2fr 1fr;
     }
 }