{{ with site.Data.publicaciones }}
    {{ $cantidad := sub (len site.Data.publicaciones.textos) 1 }}
    {{ range $index, $element := .textos}}
        <div class="tarjeta">
            {{ if .foto }}
                <div class="foto-libro">
                    <img src="{{ .foto | absURL }}" alt="Fotografía de {{ .nombre }}">
                </div>
            {{ end }}
            <div class="info">
                <div class="titular">
                    <h2>{{ .nombre }}</h2>
                    <p>{{ .origen }}</p>
                </div>
                <div class="texto">
                    {{ range .info }}
                        <p>{{ .txt | markdownify }}</p>
                    {{ end }}
                </div>
                <div class="enlace">
                    <a href="">Leer el texto aquí</a>
                </div>
            </div>
        </div>
        {{ if not (eq $cantidad $index) }}
            <hr>
        {{ end }}
    {{ end }}
{{ end }}